<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title th:text="${titulo}">Agregar Campania Publicitaria</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>

<br>
<div class="btn-group" role="group" aria-label="Basic outlined example">
<a href="javascript:history.back()" class="btn btn-outline-warning" aria-current="page">Volver Atras</a>
</div>
<br>

	<script src="carteles/RegionesYComunas.js"></script>
	<div class="container mt-4">
		<div class="col-sm-6">
			<form th:action="@{/savecartel}" th:object=${cartelpublicitario} method="POST"
				enctype="multipart/form-data">
				<div class="card">
					<div class="card-header text-center" >
						<h3 th:text="${titulo}">Agregar Cartel Publicitario</h3>
					</div>
					<div class="card-body">
						<div class="form-group">
							<input th:field="*{id}" type="hidden" class="form-control" />
						</div>
						<div class="form-group">
						<label  th:text="${#authentication.name}" ></label>
							 <input th:value="${#authentication.name}" th:id="idusuario" th:name="idusuario" type="text" hidden="" class="form-control"  />
						</div>

						<div class="form-group">
							<label>TITULO </label> <input th:field="*{titulo}" type="text" class="form-control"
								required="required" />
						</div>

						<div class="form-group">
							<label>DIRECCION</label> <input th:field="*{direccion}" type="text" class="form-control"
								required="required" />
						</div>

						<div class="form-group">
							<label>NOMBRE</label> <input th:field="*{nombre}" type="text" class="form-control"
								required="required" />
						</div>

						<div class="form-group">
							<label>APELLIDO</label> <input th:field="*{apellido}" type="text" class="form-control"
								required="required" />
						</div>

						<div class="form-group">
							<label>CORREO</label> <input th:field="*{correo}" type="email" class="form-control" id="email"
								required="required" />
								<span id="emailOK"></span>
						</div>
						<div class="form-group">
							<label>NUMERO DE CONTACTO</label> <input th:field="*{nrocontacto}" type="tel"
								 class="form-control" required="required" min="9" />
						</div>

						<div class="form-group">
						
							<label>Regiones</label>
						<select id="regiones"  th:field="*{region}" name=region class="form-select" ></select>
						</div>


								<div class="form-group">
							<label>Comuna</label> 
							<select id="comunas"  th:field="*{comuna}" name=comuna class="form-select" ></select>
						</div>

					

							<div class="form-group">
							<label>PRECIO</label> <input th:field="*{precio}" type="number" class="form-control"
								required="required" />
						</div>

						<div class="form-group">
							<label>IMAGEN DEL CARTEL</label> <input type="file" name="file" id="image" required/>
						</div>
						<div class="form-group">
							<label>DOCUMENTACION DEL CARTEL</label> <input type="file" name="document"
								id="documentos" required/>
						</div>
																		<div class="form-group">
							<label>DESCRIPCION</label> <textarea th:field="*{detalle}" type="text"
								class="form-control" required="required"></textarea>
						</div>
						<br>
						<input type="checkbox" name="condiciones" required/>
						<label for="condiciones">Aceptar Terminos y <a href="pagina_condiciones.html">Condiciones</a> </label>
						



					</div>
					<div class="d-grid gap-2 btn-block">
						<input type="submit" value="Guardar" class="btn btn-warning">

					</div>
				</div>
			</form>

		</div>
	</div>
	
<script type="text/javascript">
document.getElementById('email').addEventListener('input', function() {
    campo = event.target;
    valido = document.getElementById('emailOK');
        
    emailRegex = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
    //Se muestra un texto a modo de ejemplo, luego va a ser un icono
    if (emailRegex.test(campo.value)) {
      valido.innerText = "Correo valido";
      valido.style="color:#1ef613";
    } else {
      valido.innerText = "Correo No Valido";
      valido.style="color:red";
    }
});
</script>
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="regionesycomunas.js"></script>
</body>

</html>