<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Pago</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
  crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</head>
<header th:replace="NavbarGeneral :: header"></header>

<body>


	<br>
<div class="card" >
<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
     th:text="${mensaje}"
     class="alert">
</div>
 
<img src="https://jumpseller.cl/images/support/webpay-webservices/webpaypluspagar.png" class="img-thumbnail" alt="Eniun" width="40%">
 
 
 
</div>

</body>
</html>